@import 'materialize';

// .product-list {
//   cursor: pointer;
//   color: blue;
// }


.title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

#list {
  padding: 40px;
}

// .page {
//   background-color: black;
// }

