<div class="page">
  <nav>
    <div class="nav-wrapper amber darken-2 ">
      <a href="#" class="brand-logo">Using Ajax</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Home</a></li>
        <li><a href="badges.html">Using Ajax</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

  <h1 class="title"> Welcome to the Ajax Products Page</h1>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Product Name" id="name" type="text" class="validate">
        </div>
        
        <div class="input-field col s6">
          <input placeholder="Product Price" id="price" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Product Color" id="color" type="text" class="validate">
        </div>

        <div class="input-field col s6">
          <input placeholder="Quantity on Hand" id="quantity" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Product Description" id="description" type="text" class="validate">
        </div>
      </div>
      <div class="row">
        <ul id="list" class="container collection ">
          <button class="btn amber darken-2" id="create">Create Product</button>
          <button class="btn amber darken-2" id="edit">Edit Product</button>
          <button class="btn amber darken-2" id="delete">Delete Product</button>
        </ul>
      </div>
    </form>
  </div>
</div>



 






