<div class="nav-wrapper">

<h1 class="title"> Welcome to Products Page</h1>

<ul id="list" class="container collection">
  <button class="btn" id="edit-product">Edit</button>
  <button class="btn" id="delete-product">Delete</button>
</ul>
</div>

